*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.box-wrapper{
    margin-left: 20px;
}
.box-wrapper:nth-child(2){
  
}
.wrapper-item{
    border: black solid 1px;
    width: 200px;
    height: 200px;
}